{
  "id": null,
  "createdBy": "{{ SILENCE_CREATED_BY }}",
  "startsAt": "{{ SILENCE_STARTS_AT }}",
  "endsAt": "{{ SILENCE_ENDS_AT }}",
  "comment": "{{ SILENCE_COMMENT }}",
  {% include PLUGIN_TEMPLATE + "/_matchers.j2" %}
}